@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Ubuntu:300,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.inline-block {
  display: inline-block;
}

.row-table {
  display: table;
}

.section-column {
  display: table-cell;
  padding: 0 30px 30px;
  float: none;
}

a:hover {
  text-decoration: none;
}

/*-------------------------------------------------Colours*/

.bg-color-title {
  background-color: #313131;
}

.border-bottom--pink {
  border-bottom: 10px #fe7fbf solid;
}

.border-bottom--blue {
  border-bottom: 10px #38e6fe solid;
}

.border-bottom--yellow {
  border-bottom: 10px #f9e038 solid;
}

.border-bottom--green {
  border-bottom: 10px #a1ef82 solid;
}

/*-------------------------------------------------Headings*/

h1,
h2,
h3 {
  font-family: "Ubuntu";
  margin-top: 20px;
}

h1 {
  font-size: 110%;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}

h2 {
  font-size: 200%;
  margin: 20px 0px 20px 0px;
  text-align: center;
  font-weight: 500;
  color: #495057;
}

h3 {
  font-size: 140%;
  text-align: left;
}

h4 {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 30px;
}

h5 {
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 15px;
}

/*-------------------------------------------------Navigation bar*/

#header__logo-img {
  width: 55px;
  height: 55px;
  display: inline-block;
  padding-right: 0px;
  margin-right: 0px;
}

.header__logo {
  padding-left: 50px;
  margin-top: 35px;
  margin-bottom: 20px;
}

#header__logo1 h1 {
  letter-spacing: 2px;
  font-size: 130%;
  margin-top: 34px;
  padding-left: 5px;
}

#header__logo2 h1 {
  letter-spacing: 6.3px;
  font-size: 130%;
  margin-top: 0px;
  padding-left: 5px;
}

#menu {
  float: right;
}

.menu-container {
  width: 100%;
}

#nav li {
  font-size: 14px;
  padding: 0;
}

#nav {
  margin: 0px;
}

.nav-item {
  height: 120px;
  text-align: center;
  padding: 0;
  position: relative;
}

.border-left {
  border-left: 1px #1c1c1c solid !important;
  position: absolute;
  top: 0%;
  bottom: 1%;
  width: 100%;
}

.nav-item a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 120px;
}

.nav-item a i {
  padding: 22px;
  display: block;
  color: #fafafa;
  font-size: 24px;
}

.nav-item span {
  display: block;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menucontainer {
  font-size: 0;
}

.nav__courses:hover {
  background-color: #53a333;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.nav__courses-active {
  background-color: #53a333;
}

.nav__accommodation:hover {
  background-color: #1c8da5;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.nav__accommodation-active {
  background-color: #1c8da5;
}

.nav__experience:hover {
  background-color: #d4af37;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.nav__experience-active {
  background-color: #d4af37;
}

.nav__enquire:hover {
  background-color: #b43c78;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.nav__enquire-active {
  background-color: #b43c78;
}

/*-------------------------------------------------Buttons*/

.btn-outline__enquire {
  color: #495057;
  border-color: #495057;
  border-width: 2px;
}

.btn-outline__enquire:hover {
  color: #fff;
  background-color: #b43c78;
  border-color: #b43c78;
}

.btn-outline__experience {
  color: #495057;
  border-color: #495057;
  border-width: 2px;
}

.btn-outline__experience:hover {
  color: #fff;
  background-color: #d4af37;
  border-color: #d4af37;
}

.btn-outline__courses {
  color: #495057;
  border-color: #495057;
  border-width: 2px;
}

.btn-outline__courses:hover {
  color: #fff;
  background-color: #53a333;
  border-color: #53a333;
}

.btn-fill__courses {
  color: #fff;
  background-color: #53a333;
  border-color: #53a333;
}

.btn-fill__courses:hover {
  color: #fff;
  background-color: #a1ef82;
  border-color: #a1ef82;
}

.btn {
  margin-bottom: 15px;
  margin-top: 15px;
}

.btn:hover {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/*-------------------------------------------------Banner image*/

.hero-container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

/*-------------------------------------------------General*/

body {
  font-family: "Montserrat";
  color: #000;
  font-weight: 400;
}

p {
  font-size: 90%;
}

/*-------------------------------------------------Why SA section*/

/*
.row__why-sa {
  background-color: #f8f9fa;
}*/

.why-sa {
  margin-top: 30px;
}

.row__why-sa {
  padding: 20px 30px 20px 30px;
}

.row__why-sa h3 {
  text-align: center;
  font-size: 150%;
  color: #495057;
  margin-bottom: 20px;
}

.row__why-sa p {
  text-align: center;
  font-size: 100%;
  color: #495057;
}

.row__why-sa i {
  padding: 22px 0px 10px 0px;
  display: block;
  font-size: 35px;
  text-align: center;
}

.row__why-sa .fa-user-graduate {
  color: #a1ef82;
}

.row__why-sa .fa-paw {
  color: #f9e038;
}

.row__why-sa .fa-comments {
  color: #fe7fbf;
}

.row__why-sa div {
  text-align: center;
}

.row__why-sa img {
  border-radius: 0.22rem;
}

.feature-imgs img {
    border-radius: 0.22rem;
}


/*-------------------------------------------------Testimonials section*/

.row__testimonials {
  background-color: #555c62;
}

.row__testimonials h2 {
  color: #f8f9fa;
}

.testimonial-col {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
}

.testimonial-img {
  border-radius: 50%;
  border: 5px #38e6fe solid;
  margin: 0px 15px 20px 15px;
  display: inline-block;
}

.quote-body {
  margin-left: 15px;
  display: inline-block;
  color: #f8f9fa;
}

/* On screens that are 600px or less, the tesimonial text will display below the image*/
@media screen and (max-width: 767px) {
  .testimonial-col {
    display: block;
    text-align: center;
  }

  .testimonial-img {
    margin-left: auto;
    margin-right: auto;
  }

  .testimonial-col p {
    margin-left: 0px;
    margin-right: 0px;
  }

  .quote-body {
    margin-left: 0px;
    display: block;
  }
}

/*-------------------------------------------------3 Easy Steps section*/

.row__steps {
  background-color: #ffe0f0;
  border-top: #fe7fbf 10px solid;
  padding-left: 45px;
  padding-right: 45px;
}

/*Desktop*/

.steps-item {
    border-top: #fe7fbf 2px solid;
    margin-top: 40px;
    position: relative;
}

.steps-item:before {
  content: attr(data-step);
  position: absolute;
  top: -0.7em;
  left: 0em;
  display: block;
  font-weight: 500;
  font-size: 1.8em;
  padding: 13px;
  line-height: 13px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0;
  background-color: #fe7fbf;
  color: white;
}

/*Mobile*/

@media screen and (max-width: 767px) {

    .steps-item {
        border-left: #fe7fbf 2px solid;
        border-top: none;
        margin-top: 0px;
    }

    .steps-item:before {
        content: attr(data-step);
        left: -0.7em;
        top: 1em;
        margin: 0;
    }

    .steps-item h4 {
        margin-left: 30px;
    }

    .row__steps span {
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.row__steps p {
  text-align: center;
  font-size: 1.1em;
}

.row__steps i {
  font-size: 28px;
  color: #fe7fbf;
}

.row__steps hr {
    border-top: 3px dashed #fe7fbf;
}

.steps-airplane {
    margin-left: -6px;
}

.steps-welcome {
    margin-top: 30px;
    margin-bottom: 10px;
}

.row__steps h4 {
    margin-left: 45px;
}

.row__steps h5 {
    font-size: 120%;
    color: #b43c78;
}

.row__steps span {
  margin-left: 45px;
  font-size: 1em;
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
}

.center-btn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*-------------------------------------------------Courses page*/

.accordion {
  padding-left: 45px;
  padding-right: 45px;
}

#accordionExample {
  width: 100%;
  margin-bottom: 40px;
}

.card-header {
  max-height: 60px;
  border-radius: 2px;
  padding-bottom: 4.3rem;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  border-bottom: 2px solid #b8b8b9;
  background-color: #555c62;
}

.card-header h2 {
  padding-top: 0px;
  margin-top: 0px;
}

.card-header h3 {
  color: #fafafa;
}

.accordion__icon {
  text-align: right;
  color: #fafafa;
}

#accordionExample .btn-block {
    padding-top: 0px;
}

.card-header .btn:focus {
  box-shadow: none;
  color: #fafafa;
  background-color: #53a333;
  border-color: #53a333;
  min-height: 59px;
  border-radius: 2px;
  text-decoration: none;
  padding-bottom: 4.3rem;
}

.card-header .btn:hover {
  box-shadow: none;
  color: #fafafa;
  background-color: #53a333;
  border-color: #53a333;
  padding-bottom: 15px;
  margin-bottom: 0px;
  max-height: 60px;
  border-radius: 2px;
  text-decoration: none;
  transition-duration: 0s;
  padding-bottom: 4.3rem;
}

.card-header span {
  display: inline-block;
  text-align: right;
}

button[aria-expanded="true"] .fas.fa-plus {
  display: none;
}

button[aria-expanded="false"] .fas.fa-minus {
  display: none;
}

.course-title {
  text-align: center;
}

.accordion__left-col {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .accordion__left-col {
    text-align: left;
  }

  .card-header h3 {
    font-size: 100%;
  }
}

.accordion__courses {
  border-bottom: #a3a4a5 2px solid;
}

.card-header .btn-link {
  color: #495057;
}

.btn-block {
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 15px;
  width: 100%;
}

.card-body {
  background-color: #eaeaea;
  border-top: #a1ef82 10px solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0px 0px 2px 2px;
  padding-top: 0px;
}

.card-body p {
  font-size: 100%;
}

/*-------------------------------------------------Accommodation page*/

.row__accomm {
  padding: 20px 30px 20px 30px;
}

/*
.row__accomm img {
  border-radius: 0.22rem;
  border-bottom: #38e6fe 10px solid;
}*/

/*
.hero-container-accomm img {
  border-bottom: #38e6fe 10px solid;
}*/

.carousel-item img {
  max-width: 100%;
}

.carousel {
  padding: 30px 30px 75px 30px;
}

.image-gallery.col-sm-6.col-md-3 {
  padding: 0px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #1c1c1c;
}

/* On screens that are 768px or less, the carousel for large screens will not display*/
@media screen and (max-width: 767px) {
  .carousel-large-screens {
    display: none;
  }
}

/* On screens that are larger than 768px, the carousel for small screens will not display*/
@media screen and (min-width: 768px) {
  .carousel-small-screens {
    display: none;
  }
}

/*-------------------------------------------------Experience page*/

.row__experience {
  padding: 20px 45px 45px 45px;
}


/*-------------------------------------------------Enquire page*/

.row__enquire {
  padding: 20px 45px 45px 45px;
}

.nav-tabs .nav-link {
    color: #353638;
    background-color: #eff0f2;
    font-size: 110%;
    padding-top: 11px;
    min-width: 150px;
    height: 50px;
    border-radius: 3px 3px 0px 0px;
}

.nav-tabs .nav-link:hover {
    color: white;
    background-color: #b43c78;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: #b43c78;
    border: none;
    border-radius: 3px 3px 0px 0px;
}

.tab-pane {
    background-color: #eaeaea;
    padding: 20px 30px 20px 30px;
    border-top: #b43c78 solid 10px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

@media screen and (max-width: 767px) {
    .nav-tabs .nav-link {
        min-width: 50%;
    }

    .row__enquire {
        padding: 20px 5px 30px 5px;
    }
}

/*-------------------------------------------------Footer*/

.row__footer {
  background-color: #313131;
  color: #fff;
  padding: 30px 20px 20px 50px;
}

.row__footer h1 {
  font-size: 120%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.row__footer h3 {
  font-size: 120%;
  margin-bottom: 20px;
}

.row__footer a {
  color: #fff;
  text-decoration: none;
}

.row__footer a:hover {
  color: #b43c78;
  text-decoration: none;
}

.row__footer p {
  margin-right: 30px;
  color: #fff;
}

#about {
  margin-top: 20px;
}

.footer__social-links li a i {
  width: 34px;
  height: 34px;
  padding-top: 14px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  margin-right: 4px;
  text-align: center;
  color: #313131;
  background: #eeeeee;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.footer__social-links li a i:hover {
  background: #b43c78;
  color: #eeeeee;
}

#footer__logo-img {
  width: 45px;
  height: 45px;
  display: inline-block;
  padding-right: 0px;
  margin-right: 0px;
}

.footer__logo {
  padding-left: 0px;
}

#footer__logo1 {
  letter-spacing: 1px;
}

#footer__logo2 {
  letter-spacing: 4.7px;
}
