@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Ubuntu:300,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.inline-block {
  display: inline-block;
}

.row-table {
  display: table;
}

.section-column {
  display: table-cell;
  padding: 0 30px 30px;
  float: none;
}

a:hover {
    text-decoration: none;
}

/*-------------------------------------------------Colours*/

.bg-color-title {
    background-color: #313131;
}

.border-bottom--pink {
  border-bottom: 10px #fe7fbf solid;
}	
    
.border-bottom--blue {
  border-bottom: 10px #38e6fe solid;
}	

.border-bottom--yellow {
  border-bottom: 10px #f9e038 solid;
}	

.border-bottom--green {
  border-bottom: 10px #a1ef82 solid;
}	

.row__why-sa {
    background-color: #595858;
}

/*-------------------------------------------------Headings*/

h1,
h2,
h3,
h4,
h5 {
    font-family: "Ubuntu";
    margin-top: 20px;
}

h1 {
    font-size: 110%;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}

h2 {
    font-size: 200%;
    margin: 20px 0px 20px 0px;
    text-align: center;
    font-weight: 500;
    color: #495057;
}

/*-------------------------------------------------Navigation bar*/

#header__logo-img {
    width: 55px;
    height: 55px;
    display: inline-block;
    padding-right: 0px;
    margin-right: 0px;
}

.header__logo {
    padding-left: 50px;
    margin-top: 35px;
    margin-bottom: 20px;
}

#header__logo1 h1 {
    letter-spacing: 2px;
    font-size: 130%;
    margin-top: 34px;
    padding-left: 5px;
}

#header__logo2 h1 {
    letter-spacing: 5.9px;
    font-size: 130%;
    margin-top: 0px;
    padding-left: 5px;
}

#menu {
    float: right;
}

.menu-container {
    width: 100%;
}

#nav li {
  font-size: 14px;
  padding: 0;
}

#nav {
  margin: 0px;
}

.nav-item {
  height: 120px;
  text-align: center;
  padding: 0;
  position: relative;
}

.border-left {
  border-left: 1px #1c1c1c solid !important;
  position: absolute;
  top: 0%;
  bottom: 1%;
  width: 100%
}

.nav-item a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 120px;
}

.nav-item a i {
  padding: 22px;
  display: block;
  color: #fafafa;
  font-size: 20px;
}

.nav-item span {
  display: block;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menucontainer {
  font-size: 0;
}

.nav__courses:hover {
    background-color: #53a333;
    transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -webkit-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
}

.nav__courses-active {
        background-color: #53a333;
}

.nav__accommodation:hover {
    background-color: #1c8da5;
    transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -webkit-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
}

.nav__experience:hover {
    background-color: #D4AF37;
    transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -webkit-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
}

.nav__enquire:hover {
    background-color: #b43c78;
    transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -webkit-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
}

/*-------------------------------------------------Buttons*/

.btn-outline__enquire {
    color: #fe7fbf;
    border-color: #fe7fbf;
    border-width: 2px;
}

.btn-outline__enquire:hover {
    color: #fff;
    background-color: #b43c78;
    border-color: #b43c78;
}

.btn-outline__experience {
    color: #f9e038;
    border-color: #f9e038;
    border-width: 2px;
}

.btn-outline__experience:hover {
    color: #fff;
    background-color: #D4AF37;
    border-color: #D4AF37;
}

.btn-outline__courses {
    color: #a1ef82;
    border-color: #a1ef82;
    border-width: 2px;
}

.btn-outline__courses:hover {
    color: #fff;
    background-color: #53a333;
    border-color: #53a333;
}

.btn {
    margin-bottom: 15px;
    margin-top: 15px;
}

.btn:hover{
    transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -webkit-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
}

/*-------------------------------------------------Banner image*/

/*Delete if using img element instead of background
#hero-image {
        height: 460px;
        width: 100%;
        background: url('/assets/img/bokaap.jpg') no-repeat center center; 
        border-bottom: #a1ef82 10px solid;
}
*/

.hero-container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
}

/*This is a container with background image


#overlay-text, #overlay-text h2 { 
        color: #ffffff;
}

#overlay-text {
        float: left;
        font-size: 130%;
        font-family: "Ubuntu";
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 300px;
        height: 150px;
        padding-top: 40px;
        padding-left: 10px;
        background-color: rgba(161, 239, 130, .8);
        bottom: 30px;
        left: 20px;
        position: absolute;
}*/

/*-------------------------------------------------General*/

body {
    font-family: "Montserrat";
    color: #000;
    font-weight: 400;
}

p {
    font-size: 90%;
}

/*-------------------------------------------------Why SA section*/

.why-sa {
    margin-top: 30px;
}

.row__why-sa {
    padding: 20px 30px 20px 30px;
}

.row__why-sa h2 {
    color: #fafafa;
}

.row__why-sa h3 {
    text-align: center;
    font-size: 150%;
    color: #fafafa;
    margin-bottom: 20px;
}

.row__why-sa p {
    text-align: center;
    font-size: 100%;
    color: #fafafa;  
}

.row__why-sa i {
  padding: 22px 0px 10px 0px;
  display: block;
  font-size: 35px;
  text-align: center;
}

.row__why-sa .fa-user-graduate {
    color: #a1ef82;
}

.row__why-sa .fa-paw {
    color: #f9e038;
}

.row__why-sa .fa-comments {
    color: #fe7fbf;
}

.row__why-sa div {
    text-align: center;
}

.row__why-sa img {
    border-radius: .22rem;
}

/*-------------------------------------------------Testimonials section*/

.row__testimonials h2 {
    color: #495057;
}

.testimonial-col {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
}

.testimonial-img {
    border-radius: 50%;
    border: 5px #38e6fe solid;
    margin: 0px 15px 20px 15px;
    display: inline-block;
}

.quote-body {
    margin-left: 15px;
    display: inline-block;
}

/* On screens that are 600px or less, the tesimonial text will display below the image*/
@media screen and (max-width: 768px) {

    .testimonial-col {
        display: block;
        text-align: center;
    }

    .testimonial-img {
         margin-left: auto;
         margin-right: auto;
    }

    .testimonial-col p {
        margin-left: 0px;
        margin-right: 0px;
    }

    .quote-body {
        margin-left: 0px;
        display: block;
    }

}

/*-------------------------------------------------3 Easy Steps section*/

.row__steps {
    background-color: #ffe0f0;
    border-top:#fe7fbf 10px solid;
    padding-left:10px;
    padding-right: 10px;
}

.row__steps p {
    text-align: center;
    font-size: 1.1em;
}

.timeline {
    margin-top: 30px;
}

p.round-number {
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
    color: #fff;
    background-color: #fe7fbf;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 18px;
    padding: 15px;
    margin: auto;
}

.row__steps hr {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-top: 3px solid #fe7fbf;
}

.step-3 i {
    font-size: 28px;
    color: #fe7fbf;
}

.row__steps span {
    padding-left: 20px;
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
}

.center-btn {
    text-align: center;
}

/*-------------------------------------------------Footer*/

.row__footer {
    background-color: #313131;
    color: #fff;
    padding: 30px 20px 20px 50px;
}

.row__footer h1 {
    font-size: 120%;
    margin-bottom: 0px;
    margin-top: 0px;
} 

.row__footer h3 {
    font-size: 120%;
    margin-bottom: 20px;
} 

.row__footer a {
    color: #fff;
    text-decoration: none;
}

.row__footer a:hover {
    color: #b43c78;
    text-decoration: none;
}

.row__footer p {
    margin-right: 30px;
    color: #fff;
}

#about {
    margin-top: 20px;
}

.footer__social-links li a i {
    width: 34px;
    height: 34px;
    padding-top: 14px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    margin-right: 4px;
    text-align: center;
    color: #313131;
    background: #eeeeee;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer__social-links li a i:hover {
    background: #b43c78;
    color: #eeeeee;
}

#footer__logo-img {
    width: 45px;
    height: 45px;
    display: inline-block;
    padding-right: 0px;
    margin-right: 0px;
}

.footer__logo {
    padding-left: 0px;
}

#footer__logo1 {
    letter-spacing: 1px;
}

#footer__logo2 {
    letter-spacing: 4.3px;
}
